{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-6">
            <h1>
                <a href="{{ path('ticket_new') }}" class="btn btn-xs btn-default pull-right"><i class="fa fa-plus-circle"></i> Create Ticket</a>
                Tickets Created by Me
            </h1>

            <table class="table">
                {% for ticket in myTickets %}
                    <tr>
                        <td>{{ ticket.title }}</td>
                        <td>{{ ticket.status.name }}</td>
                        <td>{{ ticket.createdAt|ago }}</td>
                        <td>
                            <a href="{{ path('ticket_show', {
                                'id': ticket.id
                            }) }}"><i class="fa fa-eye"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-sm-6">
            <h1>Tickets Assigned to Me</h1>

            <table class="table">
                {% for ticket in assignedToMeTickets %}
                    <tr>
                        <td>{{ ticket.title }}</td>
                        <td>{{ ticket.status.name }}</td>
                        <td>{{ ticket.createdAt|ago }}</td>
                        <td>
                            <a href="{{ path('ticket_show', {
                                'id': ticket.id
                            }) }}"><i class="fa fa-eye"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}

