{% extends 'base.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col-sm-12">
            <h1>Update Ticket #{{ ticket.id }}</h1>

            {{ form_start(form) }}
                {{ form_widget(form) }}

                <button type="submit" class="btn btn-primary" formnovalidate>Update Ticket</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    <div class="well well-lg">
        <p>
            When you create a ticket, we'll get on it right away! It'll
            be automatically assigned to someone and they'll be notified.
            If the status changes, you'll be updated!
        </p>
        <p>
            For more details, check out the
            <a href="{{ path('homepage') }}">homepage</a>.
        </p>
    </div>
{% endblock %}
