{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}

{#
    the homepage is a special page which displays neither a header nor a footer.
    this is done with the 'trick' of defining empty Twig blocks without any content
#}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>Welcome to the <strong>Symfony Demo Application</strong></h1>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="jumbotron">
                <p>
                    Browse the <strong>tickets section</strong>.
                </p>
                <p>
                    <a class="btn btn-primary btn-lg" href="{{ path('ticket_list') }}">
                        <i class="fa fa-users"></i> See Tickets
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
