index app_dev.php;
#index app.php;
access_log off;
server {
    listen 80;
    server_name {{ inventory_hostname }};
    access_log {{ webapp_path }}/logs/access.log;
    error_log {{ webapp_path }}/logs/error.log;
    #rewrite ^/(.*)/$ /$1 permanent;
    root {{ webapp_path }}/web/web/;
    location / {
        try_files $uri $uri/ /app_dev.php?$args;
        #try_files $uri $uri/ /app.php?$args;
        client_max_body_size 2m;
        client_body_buffer_size 128k;
    }
    location ~* \.(?:ico|css|js|gif|jpe?g|png)$ {
        expires max;
        add_header Cache-Control "public, must-revalidate, proxy-revalidate";
        client_max_body_size 2m;
        client_body_buffer_size 128k;
    }
    location ~ \.php$ {
        try_files $uri = 404;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $realpath_root$fastcgi_script_name;
        fastcgi_param DOCUMENT_ROOT $realpath_root;
        fastcgi_pass unix:/var/run/php5-fpm.sock;
        client_max_body_size 2m;
        client_body_buffer_size 128k;
    }
}
