extension=newrelic.so
newrelic.appname = "{{ newrelic_appname }}"
newrelic.enabled = true
newrelic.logfile = /var/log/newrelic/php_agent.log
newrelic.license = "{{ newrelic_license }}"
newrelic.loglevel = info
newrelic.browser_monitoring.auto_instrument = 1
newrelic.capture_params = true
newrelic.daemon.ssl = true