#
# Log shipping to logstash
#

$InputFileName /var/log/nginx/error.log
$InputFileTag nginx-error:
$InputFileStateFile state-nginx-error
#$InputFileSeverity info
$InputRunFileMonitor
#$InputFilePollInterval 10

$InputFileName /var/log/nginx/access.log
$InputFileTag nginx-access:
$InputFileStateFile state-nginx-access
#$InputFileSeverity info
$InputRunFileMonitor
#$InputFilePollInterval 10

$InputFileName /var/log/php5-fpm.log
$InputFileTag php5-fpm:
$InputFileStateFile state-phpfpm-error
#$InputFileSeverity info
$InputRunFileMonitor
#$InputFilePollInterval 10

$InputFileName {{ webapp_path }}/logs/error.log
$InputFileTag nginx-{{ webapp_name }}-error:
$InputFileStateFile state-nginx-{{ webapp_name }}-error
#$InputFileSeverity info
$InputRunFileMonitor
#$InputFilePollInterval 10

$InputFileName {{ webapp_path }}/logs/access.log
$InputFileTag nginx-{{ webapp_name }}-access:
$InputFileStateFile state-nginx-{{ webapp_name }}-access
#$InputFileSeverity info
$InputRunFileMonitor
#$InputFilePollInterval 10

$InputFileName {{ webapp_path }}/web/current/app/logs/dev.log
$InputFileTag symfony-{{ webapp_name }}-dev:
$InputFileStateFile state-symfony-{{ webapp_name }}-dev
#$InputFileSeverity info
$InputRunFileMonitor
#$InputFilePollInterval 10

$InputFileName {{ webapp_path }}/web/current/app/logs/prod.log
$InputFileTag symfony-{{ webapp_name }}-prod:
$InputFileStateFile state-symfony-{{ webapp_name }}-prod
#$InputFileSeverity info
$InputRunFileMonitor
#$InputFilePollInterval 10

# Transmit to logstash server
*.* @@logstash.icoe.org:5544
