{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h1>
                Notifications!
            </h1>

            <table class="table">
                {% for notification in notifications %}
                    <tr>
                        <td>{{ ticket.message }}</td>
                        <td>
                            {{ ticket.createdAt|date('Y-m-d') }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td>Hmm, it's quiet in here...</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}

