.alert-iconBox {
    color: yellow;
}
.alert-iconBox:after {
  content: " ";
  display: table; }
.alert-iconBox:after {
  clear: both; }
.alert-iconBox-icon {
    font-size: 100px;
    float: left;
}
.alert-iconBox-message {
    margin-top: 20px;
}
.alert-iconBox-list {
    list-style-type: none;
}
.footer-list {
    font-size: 14px;
}
.footer-list ul {
    font-size: 14px;
    padding-left: 20px;
    list-style-type: none;
}
.footer-list li {
    margin-bottom: 0;
}